* {
    font-family: 'Comfortaa', cursive;
    color: #404040;
}

h1, h2, h3 {
    color: #404040;
    font-family: 'Patua One', cursive;
    letter-spacing: 2px;
}

button {
    padding: 1px 6px;
}

header {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(229,229,229);
}

select {
    padding: 1px 6px;
    height: 2.5vh;
}

.selection-colony-inv-flex-container {
    border-bottom: 1px solid rgb(229,229,229);
}

.facility-inv-purchase-flex-container {
    
}

.selection-container {
    border-right: 1px solid rgb(229,229,229);
    padding-bottom: 1rem;
}

.colony-inv-container {
    margin-left: 1rem;
}

.facility-inv-container {
    border-right: 1px solid rgb(229,229,229);

}

.cart-section {
    margin-left: 1rem;
}